footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: transparent;

  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  margin-bottom: 15px;
  font-size: 18px;
}

/* small screens */
@media (max-height: 600px) {
  footer {
    visibility: hidden;
  }
}

/* Large screens */
@media (min-height: 600px) {
  footer {
    visibility: visible;
  }
}
