/* HEADER */

header {
  position: fixed;
  margin-top: 15px;
  width: 100%;
  height: 5vh;
  z-index: 3;
  background-color: transparent;
}

header h1 {
  margin: 0;
  font-size: 32px;
}

/* Nav */
nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  height: inherit;
  padding-top: 2.5px;
  align-content: center;
  font-weight: bold;
}

nav ul {
  padding: 0;
  margin: 0;

  width: 100%;
  height: 35px;
  padding-left: var(--grid-gappage);

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

nav ul li {
  box-sizing: border-box;
  width: max-content;
  list-style-type: none;
}

nav a {
  text-align: center;
  width: max-content;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
}

nav a:hover {
  text-decoration: underline;
}
