/* HEADER */
/* Small screens */
@media (max-width: 600px) {
  header h1 {
    font-size: calc(2vw + 2vh);
    overflow: hidden;
    text-wrap: wrap;
    text-align: center;
    min-width: 250px;
  }

  header h1:after {
    content: "Not-Splash";
  }
  nav select {
    visibility: visible;
  }
  nav ul {
    visibility: hidden;
  }
}
/* Wide Screens */
@media (min-width: 600px) {
  header h1 {
    font-size: 32px;
  }

  header h1:after {
    content: "Not-Splash: Totally Original Gallery!";
  }

  nav select {
    visibility: hidden;
  }

  nav ul {
    visibility: visible;
  }
}

/* Commons */
header h1 {
  margin: 0;
}

header {
  position: fixed;
  margin-top: 25px;
  width: 100%;
  height: 5vh;
  background-color: transparent;
  z-index: 3;
}

/* Nav */
nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  height: inherit;
  padding-top: 2.5px;
  align-content: center;
  font-weight: bold;
}

nav select {
  position: absolute;
  top: 85%;
  height: 25px;
}

nav a {
  text-align: center;
  width: max-content;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
}

nav ul {
  padding: 0;
  margin: 0;

  width: 100%;
  height: 35px;
  padding-left: var(--grid-gappage);

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

nav ul li {
  box-sizing: border-box;
  width: max-content;
  list-style-type: none;
}

nav a:hover {
  text-decoration: underline;
}
