/* HEADER */
/* SMALL SCREENS */
@media (max-width: 600px) {
  header h1 {
    font-size: calc(2vw + 2vh);
    overflow: hidden;
    text-wrap: wrap;
    text-align: center;
    min-width: 250px;
  }

  header .subtitle {
    visibility: hidden;
  }
  nav select {
    visibility: visible;
  }
  nav ul {
    visibility: hidden;
  }
}

/* LARGE SCREENS */
@media (min-width: 600px) {
  header h1 {
    font-size: 32px;
  }

  header .subtitle {
    visibility: visible;
  }

  nav select {
    visibility: hidden;
  }

  nav ul {
    visibility: visible;
  }
}

/* UNIVERSAL */
header {
  position: fixed;
  margin-top: 25px;
  width: 100vw;
  height: 5vh;
  background-color: transparent;
  z-index: 3;
}

/* Nav */
nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.5rem;
  height: inherit;
  padding-top: 2.5px;
  align-content: center;
  font-weight: bold;
}

header h1 {
  margin: 0;
}

/* Totally Original Gallery! */
header .subtitle {
  position: fixed;
  font-size: 16px;
  top: 3%;
}

nav select {
  position: absolute;
  top: 85%;
  height: 25px;
}

nav a {
  text-align: center;
  width: max-content;
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
}

nav ul {
  padding: 0;
  margin: 0;

  width: 100%;
  height: 35px;
  padding-left: var(--grid-gappage);

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

nav ul li {
  box-sizing: border-box;
  width: max-content;
  list-style-type: none;
}

nav a:hover {
  text-decoration: underline;
}
