@import "common.css";

main {
  background-color: var(--rgba-pink-translucent);
}

.main-img-div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.main-img {
  border: 10px black solid;

  position: relative;
  width: max-content;
  height: 98.5vh;
  width: 99.2vw;

  background-size: cover;
  background-position: center;
}
