@import "common.css";

main {
  background-color: var(--rgba-pink-translucent);
}

/* Large Central Image (BG) */
#main-img {
  border: 10px black solid;
  z-index: -1;
  position: absolute;
  width: max-content;
  height: 100vh;
  width: 100vw;

  object-fit: cover;
}

/* GALLERY */
#gallery-container {
  position: absolute;
  overflow: hidden;

  height: 125px;
  width: 300px;
  top: 12.5vh;
  left: 50%;

  z-index: 1;

  border: black solid 2.5px;
  border-radius: 4px;
  background-color: var(--rgba-pink-translucent);
  backdrop-filter: blur(px);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transform: translateX(-50%);
}

.gallery-img {
  width: 200px;
  height: 125px;
  cursor: pointer;
  object-fit: cover;
  border: black 2.5px solid;
  box-sizing: border-box;
}

.gallery-btn-div {
  position: absolute;
  width: 100%;
  bottom: 50vh;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

#next-btn,
#prev-btn {
  margin-left: 25px;
  margin-right: 25px;
  width: 50px;
  height: 50px;
  background-color: var(--rgba-pink-translucent);

  color: white;
}

/* Search Form */
.search-form {
  position: absolute;
  width: auto;
  height: max-content;

  top: 30%;
  left: 50%;

  background-color: transparent;
  transform: translateX(-50%);
}

.search-form div {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: auto;
  height: auto;
}
